
.container {
  text-align: center;
  margin-top: 20px;
}

.search-bar {
  margin: 10px;
  padding: 5px;
}

.animal-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.animal-card {
  margin: 10px;
  text-align: center;
  transition: transform 0.3s ease; 
}

.animal-card:hover {
  transform: scale(1.1); 
}

.animal-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.animal-name {
  margin-top: 5px;
}
